@if(geoService.list()?.length){
<table>
  <tr>
    <th>Description</th>
    <th>Location</th>
  </tr>
  @for (point of testPoints; track point.latitude) {
  <tr>
    <td>{{ point.description }}</td>
    <td>{{ geoService.getCity(point)?.city }}</td>
  </tr>
  }
</table>
}

<canvas #diagramCanvas width="600" height="600" style="background-color: #999999;" (click)="addPoint($event)">
</canvas>
<!--<hr />-->
<!--@for (item of list(); track item.id) {-->
<!--{{ item.city }}-->
<!--} @empty { no data }-->
<!--<hr />-->
